---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The Real Ministry of Ayush 🎵">
  <section class="mb-6">
    <h1 class="text-4xl font-bold mb-2">Welcome to the Real Ministry of Ayush</h1>
    <p>This is my personal blog, disguised as a government page. Mostly about music. Enjoy.</p>
  </section>

  <section class="my-6">
    <h2 class="text-2xl font-semibold mb-2">My Spotify Playlist</h2>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/084AgOfn5uTYuhBrmAK4Hw?utm_source=generator" width="100%" height="352" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </section>
</Layout>